@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.testmodal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    transition: all .5s ease 0s;overflow-y: auto;
}

.testmodal.open {
    opacity: 1;
    visibility: visible;
}

.testmodal.open .testmodal__content {
    transform: translate(0px, 0%);
    opacity: 1;
}

.testmodal__body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
   
}

.testmodal__content {
    position: relative;
    background-color: #fff;
    color: #000;
    max-width: 800px;
    padding: 30px;
    opacity: 0;
    overflow-y: auto;
    transform: translate(0px, -100%);
    transition: all .5s ease 0s;
}

.testmodal__title {
    font-size: 30px;
    margin: 0px 0px 1em 0px;
}

.testmodal__close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 26px;
    text-decoration: none;
}

.testmodal__form {
    width: 100%;
    display: block;
}

.testmodal__form-body {
    width: 100%;
}

.testmodal__title {
    text-align: center;
}

.testmodal__img {
    width: auto;
    text-align: center;
}

.testmodal__img img {
    width: 100%;
    height: auto;
    max-width: 600px;
}

.testmodal__btn {
    margin-top: 10px;
}

.testmodal__link {
    margin-top: 20px;
}