@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: Roboto;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.modal__wrapper,
.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.modal__overlay {
    z-index: 100;
    background-color: #474747a4;
}

.modal__wrapper {
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.form {
    align-items: center;
    justify-content: space-around;  
}

.modal__form {
    position: relative;
    padding: 25px 15px 0;
    box-shadow: 1px 1px 5px 0 rgba(black, .4);
    background-color: rgb(54, 185, 218);
    border-radius: 5px;
    pointer-events: auto;
}

h3 {
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 20px;
    text-align: center;
}

.modal__img {
   margin-left: auto;
}

.modal__overlay {
    opacity: 1;
    transition: opacity .2s ease-out;
}

.modal__hidden {
    display: none;
    opacity: 0;
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-family: monospace;
    line-height: 12px;
    text-decoration: none;
    color: #FF4136;
}

.modal__close:hover {
    color: black;
}